.main {
  margin: 0px auto;
  max-width: 900px;
  text-align: center;
  padding-top: 3.2rem;
}

.main p {
  font-size: 1.6rem;
}

.worksheetContainer button {
  padding: 3.2rem;
  background: none;
  border: none;
  border: 1px solid #fff;
  color: #fff;
}

.worksheetContainer label {
  text-transform: uppercase;
}
